<h1 class="text-center mb-4" style="font-family: Pacifico;">Ценообразование</h1>
<% @pricings.each do |pricing| %>
  <div class="container col-8 p-0 alert alert-secondary d-flex flex-wrap justify-content-between align-items-center">
    <p class="info-block col-6 m-0">
      <b>Тип ценообразования:</b>
      <span class="text-lowercase"><%= pricing.pricing_type %></span>
    </p>
    <div class="control-block col-6 d-flex flex-nowrap justify-content-end align-items-center p-0">
      <%= link_to content_tag('i, class="fas fa-info"'),
      pricing_path(pricing), :class => 'btn btn-primary m-1' %>
    </div>
  </div>
<% end %>
<div class="container col-8 p-0 mx-auto text-right">
  <%= link_to "Добавить тип ценообразования", new_pricing_path, :class => 'btn btn-success' %>
</div>



