// Place all the styles related to the DailyMenu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.daily-menu-item:hover .wrapper,
.daily-menu-item:focus .wrapper {
  box-shadow: 0 0 4px #000;
  transition-duration: .2s;
}

.daily-menu-item:hover .btn-inform,
.daily-menu-item:focus .btn-inform {
  background-color: #0069d9;
}

fieldset {
  border-color: #ff0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}

.category-list {
  list-style: none;
}

.dish-list {
  list-style-type: square;
}

select.form-control:hover,
select.form-control:focus {
  cursor: pointer;
}

.prev-price {
  &__title {
    margin-bottom: 8px;
  }

  &__list,
  &__item {
    list-style: none;
  }

  &__list {
    padding: 0;

    & li {
      text-align: center;
      margin-top: 16px;
    }
  }

  &__item {
    padding: 8px 0;
    border: 1px solid #ced4da;
    border-radius: 2px;
    border-left-width: 0;
    border-right-width: 0;
  }
}

@keyframes ldio {
  0% { transform: translate(5px,15px) scale(0); }
  25% { transform: translate(5px,15px) scale(0); }
  50% { transform: translate(5px,15px) scale(1); }
  75% { transform: translate(39px,15px) scale(1); }
  100% { transform: translate(73px,15px) scale(1); }
}
@keyframes ldio-r {
  0% { transform: translate(73px,15px) scale(1); }
  100% { transform: translate(73px,15px) scale(0); }
}
@keyframes ldio-c {
  0% { background: #e15b64 }
  25% { background: #abbd81 }
  50% { background: #f8b26a }
  75% { background: #f47e60 }
  100% { background: #e15b64 }
}
.ldio div {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translate(39px,15px) scale(1);
  background: #e15b64;
  animation: ldio 1.639344262295082s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio div:nth-child(1) {
  background: #f47e60;
  transform: translate(73px,15px) scale(1);
  animation: ldio-r 0.4098360655737705s infinite cubic-bezier(0,0.5,0.5,1), ldio-c 1.639344262295082s infinite step-start;
}.ldio div:nth-child(2) {
   animation-delay: -0.4098360655737705s;
   background: #e15b64;
 }.ldio div:nth-child(3) {
    animation-delay: -0.819672131147541s;
    background: #f47e60;
  }.ldio div:nth-child(4) {
     animation-delay: -1.2295081967213115s;
     background: #f8b26a;
   }.ldio div:nth-child(5) {
      animation-delay: -1.639344262295082s;
      background: #abbd81;
    }
.loading-spinner {
  width: 71px;
  height: 38px;
  display: block;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
}
.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(.70);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio div { box-sizing: content-box; }