// Place all the styles related to the Menu-Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav-item.activate {
  color: rgba(0, 123, 255, .7);
  cursor: default;
  padding: 6px 8px;
  border: 1px solid rgba(0, 123, 255, .7);
  border-radius: 4px;
}

.nav-item.activate-success {
  color: rgba(40, 167, 69, .7);
  cursor: default;
  padding: 6px 8px;
  border: 1px solid rgba(40, 167, 69, .7);
  border-radius: 4px;
}

.fas {
  font-size: 16px;
  width: 15px;
  height: 15px;
}

#menu_item_category_id option[value=""],
#menu_item_category_id option[selected="selected"],
#menu_item_pricing_id option[value=""],
#menu_item_pricing_id option[selected="selected"],
#menu_item_unit_id option[value=""],
#menu_item_unit_id option[selected="selected"] {
  background-color: #ccc;
  cursor: default;
}