// Place all the styles related to the Menu-Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav-item.btn.activate {
  color: rgba(0, 123, 255, .7);
  cursor: default;
}

.fas {
  font-size: 16px;
  width: 15px;
  height: 15px;
}