<div class="col-md-8 mx-auto">
  <h2>Создать категорию меню:</h2>
  <%= form_for :category, url: categories_path do |form| %>
    <%= render 'errors' %>
    <div>
      Категория:<br>
      <%= form.select(:title,
      [[
      'Выберите категорию', {:class => 'mark text-success'}],
      'Первые блюда',
      'Горячие блюда',
      'Гарниры',
      'Салаты',
      'Напитки'
      ],
      {:selected => 'Выберите категорию', :disabled => 'Выберите категорию'},
      {:class => 'form-control'}) %><br>
    </div>
    <div>
      <%= form.submit('Добавить в меню', {:class => 'btn btn-success'}) %><br>
    </div>
  <% end %>
</div>